<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <style type="text/css">
  body {
    color: purple;
    background-color: #d8da3d }
  </style>
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Machine Learning App with Flask
		</div>
		<h2>Spam Detector For Email Messages</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Message Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="6" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>

	
	 <div class='footer'>
           <div class="contact">
	       
               <a target="_blank" href="https://github.com/shubham6692"><i class="fa fa-github-square" style="font-size:36px"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/shubham6692"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
           </div>
		</br>
		</br>
           <p class='footer-description'>Made by Shubham Agarwal</p>
       </div>

</body>
</html>